 body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     width: 100%;
     font-family: sans-serif;
      }
     section{
         min-height: 100vh;
         display: flex;
         justify-content: center;
         align-items: center;
     } 
 .nav-link:hover{
     border-bottom: 2px solid orange;
 }
 /*----------home------------------*/
 span{
    color: orange; 
    font-weight: bold;
 }
 p{
     font-size: 18px;
 }